{% extends "Homepage/home.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'student/attendance.css' %}">
{% endblock style %}

{% block title %}<title>{{student.username}}'s Attendance</title>{% endblock title %}

{% block content %}
<div class="navbar_dashboard">
    <div><strong>📋Attendance</strong></div>
</div>
<div class="main_container">
    <div class="navbar_container">
        {% if records %}
            <h2>📋 {{student.username}}, Your Attendance Records </h2>
            <p>Note : Attendance will be count if you are present full day schedule</p>
            <table border="1" cellpadding="10px" cellspacing="0px">
                <thead> 
                    <tr>
                        <th>#</th>
                        <th>Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in records %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ record.date }}</td>
                        <td>
                            {% if record.status == "Present" %}
                                ✅ Present
                            {% else %}
                                ❌ Absent
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p> ❌ No attendance records found. ❌ </p>
        {% endif %}
    </div>
</div>
{% endblock content %}
